.hero-header {
  background-color: rgba(251, 143, 105, 0.4);
  padding: 2% 10%;
  color: #281A17;
  font-size: 2.2em;
  letter-spacing: .1em;
}
.vision-header {
  background-color: rgba(0, 57, 68, 0.3);
  padding: 2% 8%;
  color: #E1C9C9;
  font-size: 2.2em;
  letter-spacing: .1em;
}
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
body .ng-scope {
  width: 100%;
}
.container-fluid .no-padding {
  padding-right: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.btn-dark {
  background-color: #FEECE0;
  border: 2px solid #281A17;
  color: #281A17;
  font-weight: 600;
}
.btn-dark:hover,
.btn-dark:active {
  background-color: #281A17;
  color: #FEECE0;
}
.navbar {
  background-color: #281A17;
  color: #FCFCFC;
  margin: 0;
  border-radius: 0;
}
.icon-bar {
  background-color: #FCFCFC;
  color: #FCFCFC;
}
.navbar-nav {
  background-color: #281A17;
}
.navbar-nav li a {
  background-color: #281A17;
  color: #FCFCFC;
  margin: 0;
  border-radius: 0;
}
.navbar-nav li a:hover,
.navbar-nav li a:active {
  background-color: #281A17;
  color: #FB8F69;
  text-decoration: none;
}
.navbar-brand {
  text-shadow: none;
  color: #FCFCFC;
  font-family: 'Homemade Apple', cursive;
}
.navbar-brand:hover,
.navbar-brand:active {
  background-color: #281A17;
  color: #FB8F69;
  text-decoration: none;
}
.row {
  margin: 0;
}
.jumbotron {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  padding: 20% 20% 35% 20%;
  margin: 0;
  position: relative;
}
.hero-header1 {
  background-color: rgba(251, 143, 105, 0.4);
  padding: 2% 10%;
  color: #281A17;
  font-size: 2.2em;
  letter-spacing: .1em;
  position: absolute;
  top: 20%;
  left: 60%;
}
.hero-header2 {
  background-color: rgba(251, 143, 105, 0.4);
  padding: 2% 10%;
  color: #281A17;
  font-size: 2.2em;
  letter-spacing: .1em;
  position: absolute;
  top: 35%;
  left: 60%;
}
.hero-header3 {
  background-color: rgba(251, 143, 105, 0.4);
  padding: 2% 10%;
  color: #281A17;
  font-size: 2.2em;
  letter-spacing: .1em;
  position: absolute;
  top: 50%;
  left: 60%;
}
.hero-header4 {
  background-color: rgba(251, 143, 105, 0.4);
  padding: 2% 10%;
  color: #281A17;
  font-size: 2.2em;
  letter-spacing: .1em;
  position: absolute;
  top: 65%;
  left: 60%;
}
.textured-bg {
  background-color: #281A17;
  padding-bottom: 3%;
}
.card {
  background-color: #FEECE0;
  padding: 5%;
  margin: 7% 15% 5% 15%;
  border-radius: 2px;
  font-size: 1.2em;
  line-height: 1.6;
  width: 70%;
}
.card h2,
.card h3 {
  font-weight: bold;
  text-align: center;
}
.bg-about {
  background-image: url(../images/daisies-846079_1920.jpg);
  background-size: cover;
}
.bg-contact {
  background-image: url(../images/nature-768458_1920.jpg);
  background-size: cover;
}
.bg-shelters {
  background-image: url(../images/flowers-113503_1920.jpg);
  background-size: cover;
}
.bg-vision {
  background-image: url(../images/gerbera-daisy-1006484_1920.jpg);
  background-size: cover;
}
/*
.header-vision {
  background-image: url(../images/daisies-846079_1920.jpg);
  background-size: cover;
  height: 50vh;  
}
*/
.vision-header1 {
  background-color: rgba(0, 57, 68, 0.3);
  padding: 2% 8%;
  color: #E1C9C9;
  font-size: 2.2em;
  letter-spacing: .1em;
  position: absolute;
  top: 10%;
  left: 60%;
}
.vision-header2 {
  background-color: rgba(0, 57, 68, 0.3);
  padding: 2% 8%;
  color: #E1C9C9;
  font-size: 2.2em;
  letter-spacing: .1em;
  position: absolute;
  top: 25%;
  left: 60%;
}
.vision-header3 {
  background-color: rgba(0, 57, 68, 0.3);
  padding: 2% 8%;
  color: #E1C9C9;
  font-size: 2.2em;
  letter-spacing: .1em;
  position: absolute;
  top: 40%;
  left: 60%;
}
footer {
  background-color: #FEECE0;
  height: 100%;
  margin: 0;
  padding: 2% 0 3% 0;
}
footer ul {
  color: #281A17;
  margin: 0 auto;
  padding: 0 20%;
}
footer ul li {
  display: inline;
  list-style: none;
  padding: 0 10%;
}
footer ul li a {
  color: #281A17;
  font-size: 1.4em;
}
footer ul li a:hover,
footer ul li a:active {
  background-color: #281A17;
  color: #FB8F69;
  text-decoration: none;
}
footer p {
  margin: 0 auto;
  padding: 2% 20%;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}
