// VARIABLES

// neutrals
@hemp: #9B8D8A;
@almond-frost: #A4938B;
@silver-rust: #CEC0B7;
@wafer: #E6D8D7;
@mandys-pink: #FBECE5;
@spring-wood: #FCFBF9;
@alabaster: #FCFCFC;

// romantic hero

@dk-brown: #3E3315;
@md-brown: #724C35;
@red-brown: #8F4232;
@salmon: #FB8F69;
@rosebud: #FAC9B8;
@duststorm: #E1C9C9;
@seashell: #FEECE0;
@saffron-mango: #FAC774;
@light-gold: #FABD7C;
@light-apricot: #FDD1A2;
@raffia: #EBDDB8;
@light-green: #B9AE5E;
@md-green: #687035;
@dk-green: #213502;


// GLOBAL STYLES

.hero {
  background-image: url(hero.jpg);
  background-size: cover;
  padding: 5%;
}





// HOME




// ABOUT




// CONTACT




// EVENTS




// SHELTERS




// SHOP




// VISION
