// VARIABLES

// neutrals
@hemp: #9B8D8A;
@almond-frost: #A4938B;
@silver-rust: #CEC0B7;
@wafer: #E6D8D7;
@mandys-pink: #FBECE5;
@spring-wood: #FCFBF9;
@alabaster: #FCFCFC;

// romantic hero color palette
@dk-brown: #3E3315;
@md-brown: #724C35;
@red-brown: #8F4232;
@salmon: #FB8F69;
@rosebud: #FAC9B8;
@duststorm: #E1C9C9;
@seashell: #FEECE0;
@saffron-mango: #FAC774;
@light-gold: #FABD7C;
@light-apricot: #FDD1A2;
@raffia: #EBDDB8;
@light-green: #B9AE5E;
@md-green: #687035;
@dk-green: #213502;


// GLOBAL STYLES

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: @wafer;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.navbar-brand {
  img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
}

.navbar-default {
  background-color: @dk-brown;
  color: @alabaster;
  
  a:hover, a:active {
    color: @salmon;
    text-decoration: none;
  }
}

.hero {
  background-image: url(hero.jpg);
  background-size: cover;
  padding: 5%;
  border-bottom: 5% solid @alabaster;
}

.hero-header {
  background-color: rgba(251, 143, 105, 0.6);
  padding: 3% 5%;
}

.card {
  background-color: @alabaster;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(155,141,138,1);
  -moz-box-shadow: 3px 3px 5px 0px rgba(155,141,138,1);
  box-shadow: 3px 3px 5px 0px rgba(155,141,138,1);
  padding: 5%;
  margin: 3%;
  border-radius: 3px;
}



// HOME




// ABOUT




// CONTACT




// EVENTS




// SHELTERS




// SHOP




// VISION
