<div class="row bg-about">
  
  <div class="col-sm-12 card">
    <h2>Who is Jane?</h2>
    <h3>Jane is every woman</h3>
    
    <br/>
    
    <p>I’ve always had a passion regarding the rights and needs of women and children. I believe the small community and home environment that I grew up in nourished the seed that was born within me.  Freedom and equality mean everything to me. Treating everyone with respect and kindness is the rule I live by.</p>

    <p>Over the years and as I have grown older and somewhat wiser, my passion has continued to grow. Although my life is bursting at the seams with duties and responsibility, I often put my best foot forward in efforts to assist other women in their life journey.</p> 

    <p>As I move forward in my quest, I invite you to walk with me, to share what you can in creating a world where women can live without fear. Where women have enough for themselves and their children, where women care about each other’s wellbeing and not who wears the smallest dress size.</p>

    <p>We must as women, if we plan to ever receive true equality and live without fear or as a minority, create sisterhood, defend each other and leave the competition and petty mind set behind, step forward hand in hand and show the world we are united.</p>  

    <p>When this happens, our work salaries will increase, our opportunities will become greater, our life choices won’t be monitored by someone else and I believe, the world will become a better place. </p>
  </div>
</div>

