<div class="jumbotron">
  <div class="container">
    <h3 class="hero-header1">Friendship</h3>
    <h3 class="hero-header2">Support</h3>
    <h3 class="hero-header3">Empowerment</h3>
    <h3 class="hero-header4">Sustainability</h3>
  </div>
</div>

<div class="row textured-bg">
  <div class="col-sm-12 card">
    <p>I invite you to walk with me, to share what you can in creating a world where women can live without fear. Where <strong>women</strong> have enough for themselves and their children, where women care about each other’s wellbeing and not who wears the smallest dress size.</p>
    <br />
    <p>We must as women, if we plan to ever receive true equality and live without fear or as a minority, create sisterhood, defend each other and leave the competition and petty mind set behind, step forward hand in hand and show the world we are <strong>united</strong>.</p>
  </div>
</div>
