<div class="row bg-shelters">
  
  <div class="col-sm-12 card">
    <h2>Utah Women's Shelters</h2>
    
    <br/>
    
    <p>Utah has sixteen shelters that are owned and operated independently. However, all the shelters work very closely together to make sure that victims all over the state receive the services they need.</p>

    <p>If you, or someone you know, is or has suffered any form of violence or abuse, seek help now. You are not alone, people are ready to help you find a safe place and get treatment. </p>
  </div>
</div>


