<div class="header-vision">
  <div class="container-fluid no-padding">
    
    
    <div class="row">
      <div class="col-sm-12">
        <!--
        <h3 class="vision-header1">Vision</h3>
        <h3 class="vision-header2">&amp;</h3>
        <h3 class="vision-header3">Mission</h3>
        -->
        <h3>Vision</h3>
        <h3>&amp;</h3>
        <h3>Mission</h3>
      </div>
    </div>
    
    <div class="row bg-vision">
      <div class="col-sm-12 card">
        <h3>Vision</h3>
        <h3>&amp;</h3>
        <h3>Mission</h3>

        
        <ul>
          <li>Lending friendship, knowledge and support, to women in need of direction and stability.</li>
          <li>By combining experience and education, our goal is to empower other women in leading a healthy and sustainable life. </li>
          <li>Friendship, Support, Empowerment, Sustainability</li>
        </ul>
      </div>
    </div>
    
  </div> 
</div>
