<div class="header-vision">
  <div class="container-fluid no-padding">

    <div class="row bg-vision">
      <ul class="header-ul">
        <li>Vision</li>
        <li>&amp;</li>
        <li>Mission</li>
      </ul>
      
      <div class="col-sm-12 card">
        <p>Lending friendship, knowledge and support, to women in need of direction and stability.</p>
        <p>By combining experience and education, our goal is to empower other women in leading a healthy and sustainable life. </p>
        <p>Friendship, Support, Empowerment, Sustainability</p>
      </div>
    </div>
    
  </div> 
</div>
